<div id="<%= dom_id solicitacao %>">
  <p>
    <strong>Mensagem:</strong>
    <%= solicitacao.mensagem %>
  </p>

  <p>
    <strong>Data visita proposta:</strong>
    <%= solicitacao.data_visita_proposta %>
  </p>

  <p>
    <strong>Preco proposto:</strong>
    <%= solicitacao.preco_proposto %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= solicitacao.status %>
  </p>

</div>
