<h1>Nova Solicitação</h1>

<%= form_with model: @solicitacao do |f| %>
  <%= f.hidden_field :imovel_id %>

  <div>
    <%= f.label :data_visita_proposta, "Data da visita" %>
    <%= f.date_field :data_visita_proposta %>
  </div>

  <div>
    <%= f.label :preco_proposto, "Preço proposto" %>
    <%= f.number_field :preco_proposto, step: 0.01 %>
  </div>

  <div>
    <%= f.label :mensagem, "Mensagem" %>
    <%= f.text_area :mensagem %>
  </div>

  <%= f.submit "Enviar Solicitação" %>
<% end %>