<%= form_with(model: corretor) do |form| %>
  <% if corretor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(corretor.errors.count, "error") %> prohibited this corretor from being saved:</h2>

      <ul>
        <% corretor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :creci, style: "display: block" %>
    <%= form.text_field :creci %>
  </div>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :endereco, style: "display: block" %>
    <%= form.text_field :endereco %>
  </div>

  <div>
    <%= form.label :telefone, style: "display: block" %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
