<!-- app/views/corretores/_form.html.erb -->
<%= form_with(model: corretor, local: true) do |form| %>
  <% if corretor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(corretor.errors.count, "error") %> proibiu este corretor de ser salvo:</h2>
      <ul>
        <% corretor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :creci %>
    <%= form.text_field :creci %>
  </div>

  <div>
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>

  <div>
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
