<%= form_with(model: imovel) do |form| %>
  <% if imovel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(imovel.errors.count, "error") %> prohibited this imovel from being saved:</h2>

      <ul>
        <% imovel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tipo, "Tipo de imóvel", style: "display: block" %>
    <%= form.select :tipo, options_for_select(Imovel::TIPO_IMOVEIS, @imovel.tipo), prompt: "Selecione o tipo do imóvel" %>
  </div>

  <div>
    <%= form.label :preco, "Preço", style: "display: block" %>
    <%= form.text_field :preco %>
  </div>

  <div>
    <%= form.label :tamanho, "Tamanho", style: "display: block" %>
    <%= form.text_field :tamanho %>
  </div>

  <div>
    <%= form.label :n_quartos, "Quartos", style: "display: block" %>
    <%= form.number_field :n_quartos %>
  </div>

  <div>
    <%= form.label :n_banheiros, "Banheiros", style: "display: block" %>
    <%= form.number_field :n_banheiros %>
  </div>

  <div>
    <%= form.label :rua, style: "display: block" %>
    <%= form.text_field :rua %>
  </div>

  <div>
    <%= form.label :numero, "Número", style: "display: block" %>
    <%= form.text_field :numero %>
  </div>

  <div>
    <%= form.label :cidade, style: "display: block" %>
    <%= form.text_field :cidade %>
  </div>

  <div>
    <%= form.label :bairro, style: "display: block" %>
    <%= form.text_field :bairro %>
  </div>

  <div>
    <%= form.label :uf, "Estado", style: "display: block" %>
    <%= form.text_field :uf %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
