<div id="<%= dom_id imovel %>">
  <p>
    <strong>Preco:</strong>
    <%= imovel.preco %>
  </p>

  <p>
    <strong>Tamanho:</strong>
    <%= imovel.tamanho %>
  </p>

  <p>
    <strong>N quartos:</strong>
    <%= imovel.n_quartos %>
  </p>

  <p>
    <strong>N banheiros:</strong>
    <%= imovel.n_banheiros %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= imovel.rua %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= imovel.numero %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= imovel.cidade %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= imovel.bairro %>
  </p>

  <p>
    <strong>Uf:</strong>
    <%= imovel.uf %>
  </p>

  <p>
    <strong>Corretor:</strong>
    <%= imovel.corretor_id %>
  </p>

</div>
