<div id="<%= dom_id venda %>">
  <p>
    <strong>Data:</strong>
    <%= venda.data %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= venda.valor %>
  </p>

  <p>
    <strong>Corretor:</strong>
    <%= venda.corretor_id %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= venda.cliente_id %>
  </p>

  <p>
    <strong>Imovel:</strong>
    <%= venda.imovel_id %>
  </p>

</div>
