<div id="<%= dom_id corretor %>">
  <p>
    <strong>Creci:</strong>
    <%= corretor.creci %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= corretor.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= corretor.cpf %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= corretor.endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= corretor.telefone %>
  </p>

</div>
