<p style="color: green"><%= notice %></p>

<%= render @corretor %>

<div>
  <%= link_to "Edit this corretor", edit_corretor_path(@corretor) %> |
  <%= link_to "Back to corretors", corretors_path %>

  <%= button_to "Destroy this corretor", @corretor, method: :delete %>
</div>
